@model WebUI.Models.ChangeEaistoPasswordModel

@{
    ViewData["Title"] = "Смена пароля";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeEaistoPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalLogin" class="control-label"></label>
                <input asp-for="LocalLogin" class="form-control" />
                <span asp-validation-for="LocalLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalPassword" class="control-label"></label>
                <input asp-for="LocalPassword" class="form-control" type="password" />
                <span asp-validation-for="LocalPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaistoPassword" class="control-label"></label>
                <input asp-for="EaistoPassword" class="form-control" />
                <span asp-validation-for="EaistoPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
