@{
    ViewData["Title"] = "Not Verified";
}

<header>
    <h1 class="text-info">Account not approved.</h1>
    <p class="text-info">This account not approved by admin. Please contact with admin for more information.</p>
</header>
