@{
    ViewData["Title"] = "Not Verified";
}

<header>
    <h1 class="text-info">Ожидание подтверждения</h1>
    <p class="text-info">Данный аккаунт не был подтвержден администратором. Для получения подробной информации свяжитесь с администратором.</p>
</header>
