@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был сброшен. Пожалуста <a asp-controller="Account" asp-action="Login">Нажмите здесь, чтобы войти</a>.
</p>
