@model WebUI.Data.Entities.DiagnosticCard

@{
    ViewData["Title"] = "Создание карты";
    ViewData["ActionName"] = "Создать";
}

<h2>Создание диагностической карты</h2>
<hr />

<form id="mainForm" asp-action="Create" class="input-uppercase">
    @{await Html.RenderPartialAsync("_CreateOrEdit", Model);}
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="js/createoredit.js"></script>
}

