@model WebUI.Data.Entities.DiagnosticCard

@{
    ViewData["Title"] = "Delete";
}

<h2>Вы действительно хотите удалить данную диагностическую карту?</h2>

@{ await Html.RenderPartialAsync("_DeleteOrDetails", Model);} 

<form asp-action="Delete">
    <div class="form-actions no-color">
        <a asp-action="Index" class="btn btn-default">Назад к списку</a>
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </div>
</form>

