@model WebUI.Data.Entities.DiagnosticCard

@{
    ViewData["Title"] = "Редактирование";
    ViewData["ActionNameDraft"] = "Сохранить изменения";
    ViewData["ActionNameReg"] = "Сохранить и отправить в ЕАИСТО";
}

<h2>Редактирование диагностической карты</h2>
<hr />

<form id="mainForm" asp-action="Edit" class="input-uppercase">
    <input type="hidden" asp-for="UserId" />
    @{await Html.RenderPartialAsync("_CreateOrEdit", Model);}
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="js/createoredit.js"></script>
}
