@model WebUI.Models.ReportViewModels.ReportFilter

@{
    ViewBag.Title = "Отчет";
    Layout = "_Layout";
}

<h2>Отчет</h2>

<div asp-validation-summary="All" class="text-danger"></div>

@using (Html.BeginForm(FormMethod.Post))
{
<div class="form-inline">
    <input asp-for="Start" value="@Model?.Start?.ToString("dd.MM.yyyy")" placeholder="Дата регистрации: от" title="Дата регистрации: от" class="form-control" />
    <input asp-for="End" value="@Model?.End?.ToString("dd.MM.yyyy")" placeholder="Дата регистрации: до" title="Дата регистрации: до" class="form-control" />
    <button type="submit" name="generate" value="true" class="btn btn-success">Сформировать</button>
</div>
}

@section Scripts {
    
    <script type="text/javascript">
        $('#Start').datepicker({
            //"altFormat": "yy-mm-dd",
            //"altField": "#Filter_StartDate",
        });
        $('#End').datepicker({
            //"altFormat": "yy-mm-dd",
            //"altField": "#Filter_StartDate",
        });
 
    </script>
}